body {
    max-width: 1700px;
    font-size: 1.4em;
    background-color: bisque;
} 
/* 


                                            HEADER


*/
header {
    height: 225px;
    margin: -30px;
    padding: 30px;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin: 30px auto;
}
nav {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background-color: rgba(222, 184, 135, 0.626);
    color: black;
    border-radius: 5px;
}
a:hover {
    background-color: blanchedalmond;
}

/* 

                                    MAIN

*/
main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    margin: 0 auto;
    padding: 0 50px;
    background-color: white;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 1.8em;
    text-align: center;
}
p{
    text-align: justify;
}
span {
    font-style: italic;
    font-weight: bold;
}
.mouvis{
    background-color: lime;
}
.film {    
    display: flex;
}
.synopsis {
    background-color: yellow;
    width: 550px;
    padding: 0 20px;
}


